.main {
    padding-top: calc(var(--header-height) + 2rem);
    background-color: var(--black-color);
}

.home {
    width: 100vw;
    height: calc(100vh - (var(--header-height) + 2rem));
    display: flex;
    color: var(--white-color);
    &__text {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        background-image: url(../img/me.png);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        &__cont {
            p {
                span {
                    color: var(--main-color);
                }
                i {
                    margin-right: 0.5rem;
                    font-size: 2rem;
                }
                #auto-typing {
                    color: var(--white-color);
                }
            }
            p:nth-child(1) {
                font-weight: var(--font-regular);
                font-size: 2rem;
            }
            p:nth-child(2),
            p:nth-child(3) {
                font-weight: var(--font-bold);
                font-size: 4rem;
            }
            p:nth-child(4) {
                font-weight: var(--font-semi-bold);
                font-size: 2.2rem;
            }
        }
    }
    @media screen and (max-width: 992px) {
        flex-direction: column;
        max-width: calc(100vw - var(--container-margin));
        &__text {
            justify-content: center;
            background-position: center;
            height: 100%;
        }
    }
}
.about {
    background-color: var(--black-color-lighten);
    box-shadow: 2px 2px 5px var(--black-color-light);
    padding: var(--section-padding);
    color: var(--white-color);
    &__cont {
        display: flex;
        justify-content: space-evenly;
        &__table,
        &__text {
            width: 40%;
        }
        table {
            width: 100%;
            td {
                padding: 0.5rem 0;
                text-align: left;
                height: 4rem;
                width: 50%;
            }
            .item {
                font-weight: var(--font-bold);
            }
        }
        &__text {
            p {
                padding: 0.5rem;
                line-height: 1.3rem;
                a:visited,
                a:link {
                    color: #206eed;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__cv {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
    }
    @media screen and (max-width: 992px) {
        &__cont {
            flex-direction: column;
            max-width: calc(100vw - var(--container-margin));
            &__table,
            &__text {
                width: 100%;
                text-align: center;
            }
            table {
                td {
                    height: 2.5rem;
                    text-align: center;
                }
            }
        }
    }
}

.skills {
    padding: var(--section-padding);
    &__box {
        display: flex;
        justify-content: space-between;
    }
    &__cont {
        width: 45%;
    }
    .skill {
        &__name {
            font-weight: var(--font-bold);
            color: var(--white-color);
            text-transform: uppercase;
            margin: 1.25rem 0;
            span {
                margin-left: 0.5rem;
            }
        }

        &__bar {
            height: 1rem;
            background: var(--black-color-lighten);
            border-radius: 3px;
        }

        &__per {
            color: var(--black-color);
            height: 1rem;
            background: var(--main-color);
            border-radius: 3px;
            position: relative;
            animation: fillBars 2.5s 1;
        }

        &__per::before {
            content: attr(per);
            position: absolute;
            padding: 4px 6px;
            background: var(--white-color);
            border-radius: 4px;
            font-size: 12px;
            top: -35px;
            right: 0;
            transform: translateX(50%);
        }

        &__per::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background: var(--white-color);
            top: -18px;
            right: 0;
            transform: translateX(50%) rotate(45deg);
            border-radius: 2px;
        }
    }

    @keyframes fillBars {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    @media screen and (max-width: 992px) {
        &__box {
            flex-direction: column;
        }
        &__cont {
            width: 100%;
        }
    }
}

.projects {
    background-color: var(--black-color-lighten);
    box-shadow: 2px 2px 5px var(--black-color-light);
    padding: var(--section-padding);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    h3 {
        width: 100%;
        margin-bottom: 0 !important;
    }
    p {
        color: var(--main-color);
        width: 100%;
        text-align: center;
        font-weight: var(--font-semi-bold);
    }
}
